@{
  Layout = "_Layout";
}
<div class="text-center">
  <h1>The word "@Model.GetWord()" appears in your sentence @Model.WordCount(@Model.GetWord(), @Model.GetSentence())x!</h1>
  <br>
  <button><a href='/wordcounter/new'>Count a new word!</a></button>
  <button><a href='/'>Back to homepage</a></button>
</div>
