<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Word Counter</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="~/css/styles.css"/>
  </head>
  <body>
    <div class="text-center">
      <h3>Please omit symbols and characters in your sentence!</h3>
      <p><a href='/wordcounter/new'>Back to word counting!</a></p>
    </div>
  </body>
</html>
