@{
  Layout = "_Layout";
}
<body>
  <div class="text-center">
    <h3>Please don't use symbols and special characters in your sentence!</h3>
    <br>
    <p><a href='/wordcounter/new'>Back to word counting!</a></p>
  </div>
</body>
