@{
  Layout = "_Layout";
}
<div class="text-center">
  <h1>See how many times your word appears in your sentence!</h1>
  <br>
  <br>
  <form action="/wordcounter" method="post">
    <label for="word">Your word</label>
    <br>
    <input id="word" name="word" type="text">
    <br>
    <br>
    <label for="sentence">Your sentence</label>
    <br>
    <input id="sentence" name="sentence" type="text">
    <br>
    <button type="submit">Count</button>
  </form>
</div>
