@{
  Layout = "_Layout";
}

<div class="container text-center">
  <h2>What is regarded as a word?</h2>
  <h5>Your word has to be a single word that contains many alphabetical characters. No spaces, hyphens and punctuation marks can be used.</h5>
  <br>
  <br>
  <h2>What is regarded as a sentence?</h2>
  <h5>A sentence contains many words. No spaces, hyphens and punctuation marks can be used.</h5>
</div>
