<div class="text-center" id="header">
  <ul class="menu">
    <li><a href='/'>Home</a></li>
    <li><a href="/wordcounter/show">Instructions</a></li>
    <li><a href='/wordcounter/new'>New word</a></li>
  </ul>
</div>
