div#header {
  position:fixed;
  top:0px;
  width:100%;
  height:11%;
  color:#161032;
  background:#FFC53A;
  padding:20px;
  font-family: 'Poppins', sans-serif;
}

div#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  height: 8%;
  line-height: 60px;
  background:#DCEED1;
  color:#161032;
  font-family: 'Poppins', sans-serif;
}

body {
  margin-top: 20vh;
  background: #F6F5AE;
  font-family: 'Poppins', sans-serif;
  color: #161032;
}

a {
  font-size: 20px;
}

a:hover {
  text-decoration: none;
}

button {
  background-color: #FAFF81;
  border-radius: 10px;
  margin-top: 20px;
}

input[type=text], select {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

form {
  font-size: 20px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline-block;
}

.menu li a {
  display: block;
  color: #393f4d;
  text-align: center;
  padding: 8px 16px;
  text decoration: none;
  background-color: #DCEED1;
  margin-left: 1vw;
  margin-right: 1vw;
}

.menu li a:hover {
  color: #FFC53A;
}
